@import "./helper/mixin"; //scss方法混合宏
// 覆盖vue-slim-popup组件样式
body {
  .vue-slim-popup {
    .vue-slim-popup__popup {
      // position: relative;
      position: fixed;
      z-index: 1001;
      .popup_title {
        background-color: #EEEEEE;
        font-size: 14px; //rem(28)
        text-align: center;
        height: 37.5px;
        line-height: 37.5px;
        position: relative;
      }
      .popup_smalltit {
        font-size:12px;
        text-align: center;
        background-color: #fff;
      }
      .close-btn {
        position: absolute;
        top: 0;
        right: 12px;
        margin: auto;
        bottom: 0;
        width: 16px;
        height: 16px;
        &:after {
          content: '';
          display: block;
          background-image: url('~@/assets/img/cc-close-circle.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 16px;
          height: 16px;
        }
      }
      .popup_content {
        background-color: #fff;
        .popup_text {
          font-size: 12px;
          padding-left: rem(30);
          >div {
            &:nth-child(1) {
              color: #999999;
            }
            &:nth-child(2) {
              color: #555555;
            }
          }
        }
      }
      .popop_ctrl {
        display: table;
        width: 100%;
        >div {
          width: 50%;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
  .hahah123213123 {
    // bottom: rem(42);
    bottom: 0;
  }
}
