@import "./helper/mixin"; //scss方法混合宏
@import "./base/cssAnimate"; //css3动画
@import "./base/body";
@import "./base/font";
@import "./component/searchbar"; //全局搜索组件
/* 资产分发系统定制部件样式 */

@import "./component/table"; //表格
@import "./component/button"; //按钮
@import "./component/tabHeader"; //顶部tab选项卡
@import "./component/cardItem"; //卡片
@import "./component/slimPopup"; //bottom-popup
/* end */

%wys_ib {
  &:before {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: rem(28);
    margin-bottom: rem(23);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
  }
}

body {
  >div {
    &#app {
      min-height: auto;
      height: 100%;
    }
  }
}

// 全局icon -arb
.box_quzhou {
  @extend %wys_ib;
  &:before {
    background-image: url(/static/img/con137@2x.png);
    width: rem(137);
    height: rem(137);
  }
}

.box_zhoushan {
  @extend %wys_ib;
  &:before {
    background-image: url(/static/img/con139@2x.png);
    width: rem(139);
    height: rem(139);
  }
}

body {
  // 清除浮动
  .clear {
    clear: both;
  } // 左浮动
  .fl {
    float: left;
  } // 右浮动
  .fr {
    float: right;
  } // 常用 margin padding 自定义
  .mt-0 {
    margin-right: 0;
  }
  .mr-0 {
    margin-right: 0;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .ml-0 {
    margin-left: 0;
  }
  .mt-5 {
    margin-top: 5px;
  }
  .mr-5 {
    margin-right: 5px;
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .ml-5 {
    margin-left: 5px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mr-10 {
    margin-right: 10px;
  }
  .mr-15 {
    margin-right: 15px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .ml-10 {
    margin-left: 10px;
  }
  .mt-8 {
    margin-top: 8px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-15 {
    margin-top: 15px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mr-20 {
    margin-right: 20px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .ml-20 {
    margin-left: 20px;
  }
  .mt-30 {
    margin-top: 30px;
  }
  .mr-30 {
    margin-right: 30px;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .ml-30 {
    margin-left: 30px;
  }
  /*字体大小*/
  .font-12 {
    font-size: 12px;
  }
  .font-14 {
    font-size: 14px;
  }
  .font-16 {
    font-size: 16px;
  }
  .font-18 {
    font-size: 18px;
  }
  .font-20 {
    font-size: 20px;
  }
  /* 鼠标手型 */
  .cursor {
    cursor: pointer;
  }
  /* 超出 隐藏 */
  .of-hidden {
    overflow: hidden;
  }
  /* 溢出 省略 */
  .ellipsis {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    display: inline-block;
  }
  /* 隐藏 */
  .fn-hide {
    display: none;
  }
  /* 居中 */
  .center {
    text-align: center;
  }
  textarea {
    resize: none;
  }
  /* a标签 样式 _不带下划线 */
  .fn-a {
    cursor: pointer;
    color: #0F357F;
  }
  a {
    color: #0F357F;
  }
  a:visited {
    color: #0F357F;
  }
}

/* 全局覆盖vux-toast样式 */

// body {
//   .weui-toast {
//     &.weui-toast_text {
//       .weui-toast__content {
//         font-size: pxToem(28);
//       }
//     }
//   }
// }
/* end */

/* 全局覆盖vux-alert样式 */

// body {
//   .weui-dialog {
//     max-width: 80vw;
//   }
//   .weui-dialog__title {
//     font-size: pxToem(20);
//   }
//   .weui-dialog__bd {
//     min-height: 1em;
//     font-size: pxToem(18);
//   }
//   .weui-dialog__ft {
//     line-height: 2em;
//     font-size: pxToem(20);
//   }
// }
/* end */

/* 全局覆盖vux-PopupRadio样式 */

// body {
//   .weui-cell_access {
//     .weui-cell__ft {
//       .vux-cell-value {
//         color: #000;
//         font-size: pxToem(16);
//       }
//     }
//   }
// }
/* end */

//垂直居中
.flex_center {
  align-items: center;
  display: flex;
}

.card_item {
  .option {
    a {
      color: #003888 !important;
    }
  }
  $yel:#F0B300;
  .f_yel {
    color: $yel;
  }
  $gry:#999999;
  .f_grey {
    color: $gry;
  }
  $red: #D63333;
  .f_red {
    color: $red;
  }
}

// card 按钮
.optionBtn {
  text-align: center;
  font-size: rem(24);
  color: #fff;
  display: inline-block;
  width: 100%;
  height: rem(80);
  line-height: rem(80);
  border: 1px solid #EEEEEE;
}

.blueBtn {
  background-color: #274185;
}

.redBtn {}

.greyBtn {
  background-color: #666666;
}

.greenBtn {
  background-color: #379E23;
}

.whiteBtn {
  background-color: #fff;
}

// 字体溢出样式
.runover_ctrl {
  display: inline-block;
  width: rem(192);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

//带下划线的样式
.link {
  color: #274185;
  text-decoration: underline;
}

.padding30 {
  padding-left: rem(30);
  padding-right: rem(30);
}

/* ui-yellow-button-style */

.btn_yel {
  width: rem(224) !important;
  padding: 0 !important;
  font-size: rem(32) !important;
  height: rem(78) !important;
}

/* end */

/* 暂无数据 */

.nfcase_panel {
  font-size: rem(24);
  color: #808080;
  letter-spacing: rem(2);
  width: rem(220);
  height: rem(200);
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &:before {
    content: '';
    display: block;
    margin: 0 auto;
    margin-bottom: rem(24);
    width: rem(167);
    height: rem(125);
    background-image: url(/static/img/nf@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
  }
}

/* end */

/* 图片不存在或者错误时显示 */

.pic_error {
  @extend .nfcase_panel;
  position: relative;
}

/* end */

body {
  .vux-table {
    line-height: 1.2;
  }
}

/* 所有状态按钮 */

.card_item {
  .button_green {
    font-size: rem(22);
    color: #379e23;
    border-color: #379e23;
  }
  .button_yellow {
    font-size: rem(22);
    color: #f3c12f;
    border-color: #f3c12f;
  }
  .button_black {
    font-size: rem(22);
    color: #8f8f8f;
    border-color: #8f8f8f;
  }
}

/* end */

/* 身份证样式 */

[class^='idcard_'] {
  img {
    width: 100%;
  }
}

/* end */

/* 合并单元格样式 */

.zj_table {
  margin-top: rem(26);
  border: 1px solid #eeeeee;
  font-size: rem(13);
  th,
  td {
    padding: rem(24) 0;
    text-align: center;
  }
  thead {
    font-size: rem(24);
    tr {
      background-color: #e6edff;
    }
    th {
      font-weight: bold;
      &:nth-child(1) {
        width: rem(66);
      }
      &:nth-child(2) {
        width: rem(150);
      }
      &:nth-child(3) {
        width: rem(150);
      }
      &:nth-child(4) {
        width: rem(150);
      }
    }
  }
  tbody {
    tr {}
    td {
      line-height: 1.5;
      padding: rem(8) rem(10);
    }
  }
  td {
    &[colspan='3'] {
      background-color: #fffee8;
    }
  }
}

.linkA {
  text-decoration: underline;
}

.linkB {
  text-decoration: none;
  color: #0F357F;
}

/* end */

/* 6种文书类型-tab选项卡样式 */

/* end */

.weui-tab__panel {
  // padding-bottom: rem(100) !important;
}

body {
  .weui-tab__panel {
    overflow-x: hidden;
  }
}
